<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
 <div class="col-md-6 col-md-offset-3">
<%= link_to "ユーザー一覧に戻る", users_path,method: :get, class: "btn btn-lg btn-primary" %>
   <%= form_for(@user) do |f| %>

     <%= f.label :name %>
     <%= f.text_field :name, class: 'form-control' %>

     <%= f.label :email %>
     <%= f.email_field :email, class: 'form-control' %>

     <%= f.label :password %>
     <%= f.password_field :password, class: 'form-control' %>

     <%= f.label :password_confirmation, "Confirmation" %>
     <%= f.password_field :password_confirmation, class: 'form-control' %>
ここからsmtp編集
<br><br>
     <%= f.label :address %>
     <%= f.text_field :address, class: 'form-control' %>

     <%= f.label :port %>
     <%= f.text_field :port, class: 'form-control' %>

     <%= f.label :domain %>
     <%= f.text_field :domain, class: 'form-control' %>

     <%= f.label :user_name %>
     <%= f.text_field :user_name, class: 'form-control' %>

     <%= f.label :smtp_password %>
     <%= f.text_field :smtp_password, class: 'form-control' %>

     <%= f.label :authentication%>
     <%= f.text_field :authentication, class: 'form-control' %>

     <%= f.label :enable_starttls_auto%>
     <%= f.check_box :enable_starttls_auto, {}, true, false %>


     <%= f.submit "Save changes", class: "btn btn-primary" %>

   <% end %>

<%= button_to 'テストメール', {controller: 'users', action: 'send_mail', method: :post, params:{id: params[:id]}}%>
 </div>
</div>

<br><br>
  <%begin%>
<%= will_paginate @mailinfos, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
  <%rescue => e%>
  <%p "レスキューーーー"%>
  <%flash.now[:danger] = "パスワードも含めて空欄を全部埋めてください"%>
  <% end %>
<br><br>
<%@user.mailinfos.each do |mailinfo|%>
<%sent_date = mailinfo.created_at%>
<%body =mailinfo.body%>
<%subject = mailinfo.subject%>
送信日:<%= sent_date %><br>
本文:<%= body %><br>
件名:<%= subject %><br>
<br><br>-------------------------------------------------------------<br><br>
<%end%>




<%= link_to "ユーザー一覧に戻る", users_path,method: :get, class: "btn btn-lg btn-primary" %>


  <%begin%>
<%= will_paginate @mailinfos, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
<%rescue => e%>
<%p "レスキューーーー"%>
  <%flash.now[:danger] = "パスワードも含めて空欄を全部埋めてください"%>
<% end %>
