<% provide(:title, "Index user") %>
<h1>Update your profile</h1>

<body>
  <p>
  </p>
  <table class="info">
    <tr><td><%= link_to "新規",new_user_path%></td></tr>
  <%= will_paginate @users, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
    <% @users.each do |user| %>
        <td><%= user.name %> </td>
        <td><%= user.login_id %> </td>
        <td>  <%= link_to "編集", edit_user_path(id=user.id), method: :get%></td></tr>

        <td>  <%= link_to "削除", user, method: :delete,
                                  data: { confirm: "You sure?" } if !user.admin? %></td></tr>
    <% end %>
  <%= will_paginate @users, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
  </table>
</body>
