

<body>
<div>
  受信者情報ファイル：<%= session[:filename]%>
  <br><br>
  送信者<%=session[:email]%>
  <br><br>
<%if (params[:session][:bracket]=="0")%>
  件名：<br><%="【" + session[:user] + "】" + @broadcast.subject%><br>
<%else (params[:session][:bracket]=="1")%>
  件名：<br><%="[" + session[:user] + "]" + @broadcast.subject%><br>
  <%end%>
  <td>本文:<br><%=safe_join(@broadcast["body"].split("\n"),tag(:br))%></td><br>
</div>

  <%= link_to "全メール確認", broadcast_preview_all_path, class: "btn btn-lg btn-primary", :target=>["_blank"] %>
  <%= link_to "内容を確定し、送信する", broadcast_sent_message_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "メール入力画面に戻る", broadcast_mail_entry_path,method: :get, class: "btn btn-lg btn-primary" %>
</body>
