<h1>メール入力画面</h1>
<%="<"+@broadcast[:email]+">"%>
<% @range.each do |i|%>
  <%column="column"+"#{i}"%>
  <% break if @broadcast["#{column}"].nil?%>
  <%="<"+@broadcast["#{column}"]+">" %>
<% end %>
<br>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session,url:broadcast_confirm_email_path) do |f| %>
      <%= f.label :件名 %>
      <%= f.text_field :subject, class: "subject",value: "#{session[:subject]}" %>

      <%= f.label :本文 %>
      <%= f.text_area :body, class: "body",value: "#{session[:body]}" %>

      <%= f.submit "入力確認画面へ", class: "btn btn-primary" %>

      <%= f.check_box:bracket %>
      <%= f.label :bracket, "差出人のカッコを[]に変更" %>

      <%= f.check_box:mymail %>
      <%= f.label :mymail, "自分のメールサーバーから送信する" %>
    <% end %>
  </div>
</div>

<%= link_to "ファイル選択画面", broadcast_new_path,method: :get, class: "btn btn-lg btn-primary" %>
