<h1>メール入力画面</h1>
<%="<"+@broadcast[:email]+">"%>
<% @range.each do |i|%>
  <%column="column"+"#{i}"%>
  <% break if @broadcast["#{column}"].nil?%>
  <%="<"+@broadcast["#{column}"]+">" %>
<% end %>
<br>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session,url:broadcast_confirm_email_path) do |f| %>
      <%= f.label :件名 %>
      <%= f.text_field :subject, class: "subject",value: "#{session[:subject]}" %>

      <%= f.label :本文 %>
      <%= f.text_area :body, class: "body",value: "#{session[:body]}" %>

      <%= f.submit "入力確認画面へ", class: "btn btn-primary" %>

      <%= f.check_box:bracket %>
      <%= f.label :bracket, "差出人のカッコを[]に変更" %>

      <%= f.check_box:mymail %>
      <%= f.label :mymail, "自分のメールサーバーから送信する" %>
<br>
      <%if !$attachment_number.nil?%>
        <%a_n=1%>
        <%while a_n<=($attachment_number) do%>
          <%= f.label :attachment %>
          <%= f.file_field :attachment, multiple:true %>
          <%a_n+=1%>
        <% end %>
      <% end %>
  </div>
    <%end%>
  <div class="col-md-6 col-md-offset-3">

    <%if $attachment_number.nil?%>
      <%=form_for(:attachment_number,url:broadcast_update_path) do |f|%>
        <%= f.label :attachment_number %>
        <%=f.number_field :attachment_number,in: 1.0..20.0%>
        <%= f.submit "数字確定", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "ファイル選択画面", broadcast_new_path,method: :get, class: "btn btn-lg btn-primary" %>
